body{
    margin: 0em;
}
    .cover{
        height: 400px;
        background-image: url("C:/User/LAB-E/Desktop/Sitio_web/Img/carro.jpg");
        background-position: center;
        color: white;
    } 